<div class="flex-container-horizontal">

    <!-- Title element -->
    <div class="panel title-block">
        <p>Game title</p>
    </div>

    <!-- Live element -->
    <div class="panel live-block">

        <div class="live-flex-container">
            <div class="live-dot">
                <div class="blob red"></div>
            </div>

            <div class="live-text">
                <p>Live</p>
            </div>
        </div>
    </div>
</div>