<div class="container-background">
    <svg xmlns="http://www.w3.org/2000/svg" class="score-background" xml:space="preserve"
        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2" viewBox="0 0 1885 342">
        <path
            d="M20 0C8.955 0 0 8.954 0 20v301.67c0 11.046 8.955 20 20 20h741.992a25 25 0 0 0 22.458-14.017l35.194-71.968a20 20 0 0 1 17.967-11.213h234.932c8 0 15.23 4.768 18.39 12.123 7.58 17.709 21.69 50.636 29.95 69.921a25.004 25.004 0 0 0 22.98 15.154h720.87c5.31 0 10.39-2.107 14.15-5.858a19.996 19.996 0 0 0 5.85-14.142V20c0-11.046-8.95-20-20-20H20Z" />
    </svg>
</div>

<div class="flex-container-score">

    <div class=image-container>
        <img src="/static/img/empire_logo.png">
        <p>Empire
        <p>
    </div>

    <div class="score-game">
        <p>4 - 6
        <p>
    </div>

    <div class=image-container>
        <img src="/static/img/onyx_logo.png">
        <p>Onyx
        <p>
    </div>

</div>


<div id="time-box-container" class="time-box-container">

    <div class="time-box">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve"
            style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2" viewBox="0 0 357 88">
            <path
                d="M850.204 524.575c-6.296 0-12.173-1.992-15.646-5.304-3.472-3.311-4.078-7.501-1.611-11.153l23.527-34.838c2.945-4.362 9.738-7.193 17.257-7.193h277.979c7.87 0 14.91 3.099 17.62 7.759 5.13 8.844 13.66 23.536 20.23 34.838 2.1 3.627 1.27 7.673-2.24 10.839-3.51 3.166-9.25 5.052-15.37 5.052H850.204Z"
                style="fill:#7381e6" transform="matrix(.94456 0 0 1.49825 -776.275 -698.315)" />
        </svg>
        <p id="timer">40:00
        <p>
    </div>
</div>