<div class="shadow-score-shape">
    <div class="score-shape">

        <div class="flex-container-score">

            <div class=image-container>
                <img src="/static/img/empire_logo.png">
                <p>Empire
                <p>
            </div>

            <div class="score-game">
                <p>4 - 6
                <p>
            </div>

            <div class=image-container>
                <img src="/static/img/onyx_logo.png">
                <p>Onyx
                <p>
            </div>
        </div>
    </div>
</div>

<div class="time-box-container">

    <div class="time-box">
        <p>12:33</p>
    </div>
</div>