<div class="flex-container-vertical">
    
    <!-- Score list element -->
    <div class="panel score-list-block">
        <p>Score list</p>
    </div>

    <!-- Quote block -->
    <div class="panel quote-block">
        <p>Quote</p>
    </div>
</div>