<%- include('./partials/head') %>

    <main>
        <div class="styleguide-container">
            <section class="panel">
                <p>Colors</p>

                <ul>
                    <li class="border-color-FEFEFE">#FEFEFE</li>
                    <li class="border-color-F8F8F8">#F8F8F8</li>
                    <li class="border-color-EAEAEA">#EAEAEA</li>
                    <li class="border-color-AFB0AF">#AFB0AF</li>
                    <li class="border-color-D16950">#D16950</li>
                    <li class="border-color-6F82ED">#6F82ED</li>
                    <li class="border-color-8ADC6D">#8ADC6D</li>
                    <li class="border-color-F0C737">#F0C737</li>
                    <li class="border-color-252525">#252525</li>
                </ul>

                <pre>
                    <code>
<!--                    -->/* Colors */
<!--                    -->--c-white: #FEFEFE;
<!--                    -->--c-lightGray: #F8F8F8;
<!--                    -->--c-mediumGray: #eaeaea;
<!--                    -->--c-darkGray: #afb0af;
<!--                    -->--c-red: #D16950;
<!--                    -->--c-blue: #6f82ed;
<!--                    -->--c-green: #8ADC6D;
<!--                    -->--c-yellow: #F0C737;
<!--                    -->--c-dark: #252525;
                    </code>
                </pre>
            </section>

            <section class="panel">
                <p>Typography</p>

                <h1>This is a heading</h1>
                <h2>This is a heading</h2>
                <h3>This is a heading</h3>
                <h4>This is a heading</h4>
                <h5>This is a heading</h5>
            </section>

            <section class="panel">
                <p>buttons</p>
            </section>

            <section class="panel">
                <p>icons</p>
            </section>
        </div>
    </main>

    <aside>
        <%- include('./partials/sidebar') %>
    </aside>

    <%- include('./partials/foot') %>