<%- include('./partials/head') %>

    <main>
        <div class="styleguide-container">
            <section class="panel">
                <h4>Color palette</h4>

                <ul class="styleguide-list">
                    <div class="primary-colors">
                        <div class="color-panel">
                            <li class="border-color-F8F8F8"></li>
                            <p class="color-name">Primary Blue</p>
                        </div>
                        
                        <div class="color-panel">
                            <li class="border-color-EAEAEA"></li>
                            <p class="color-name">Primary grey</p>
                        </div>
                        
                        <div class="color-panel">
                            
                            <li class="border-color-AFB0AF"></li>
                            <p class="color-name">Primary Dark</p>
                        </div>
            
                </div>

                </ul>
                <div class="accent-colors">

                <ul class="styleguide-list">
                    <div class="color-panel">

                        <li class="border-color-D16950"></li>
                        <p class="color-name">Accent Yellow</p>
                    </div>

                    <div class="color-panel">

                        <li class="border-color-6F82ED"></li>
                        <p class="color-name">Accent Red</p>
                    </div>

                    <div class="color-panel">

                        <li class="border-color-8ADC6D"></li>
                        <p class="color-name">accent green</p>
                    </div>

                    <div class="color-panel">

                        <li class="border-color-F0C737"></li>
                        <p class="color-name">background white</p>
                    </div>
                </div>

                </ul>


                <pre>
                    <code>
<!--                    -->/* Colors */
<!--                    -->--c-white: #FEFEFE;
<!--                    -->--c-lightGray: #F8F8F8;
<!--                    -->--c-mediumGray: #eaeaea;
<!--                    -->--c-darkGray: #afb0af;
<!--                    -->--c-red: #D16950;
<!--                    -->--c-blue: #6f82ed;
<!--                    -->--c-green: #8ADC6D;
<!--                    -->--c-yellow: #F0C737;
<!--                    -->--c-dark: #252525;
                    </code>
                </pre>
            </section>

            <section class="panel">
                <h4>Typography</h4>

                <div class="styleguide-fonts">

                    <div class="primary-font">
                <h1 class="styleguide-h1"><span class="uppercase"> abcdefghijklmnopqrstuvwxyz</span>
                    1234567890
                </h1>
            </div>
            <div class="secundary-font">
                <h5 class="styleguide-h1"><span class="uppercase"> abcdefghijklmnopqrstuvwxyz</span> <br>
                    1234567890
                </h5>
            </div>

            
            </div>

            </section>
            
            
            <section class="panel">
                <h4>icons</h4>
<div class="styleguide-icons">
                <span class="score-indicator yellow-dot">2</span>
                <span class="score-indicator blue-dot">1</span>
                <span class="score-indicator grey-dot">2</span>
                <span class="score-indicator red-dot">1</span>
                <span class="score-indicator yellow-dot">2</span>
                <span class="score-indicator blue-dot">1</span>
                <span class="score-indicator grey-dot">2</span>
                <span class="score-indicator red-dot">1</span>
                <span class="score-indicator yellow-dot">2</span>
                <span class="score-indicator blue-dot">1</span>
                <span class="score-indicator grey-dot">2</span>
                <span class="score-indicator red-dot">1</span>
                <span class="score-indicator yellow-dot">2</span>
                <span class="score-indicator blue-dot">1</span>
                <span class="score-indicator grey-dot">2</span>
                <span class="score-indicator red-dot">1</span>
            </div>
            </section>
        </div>
    </main>

    <aside>
        <%- include('./partials/sidebar') %>
    </aside>

    <%- include('./partials/foot') %>