<%- include('./partials/head') %>

    <main>
        <div class="background-container">
            <div class="team-container">
                <section class="panel team-list">
                    <h4>Teams</h4>
                </section>
                <section class="panel selected-player-list">
                    <h4>team name</h4>
                </section>
            </div>
        </div>
    </main>

    <aside>
        <%- include('./partials/sidebar') %>
    </aside>

    <%- include('./partials/foot') %>
