<%- include('./partials/head') %>

    <main>
        <div class="background-container">
            <div class="team-grid">
                <div class="panel team-list">
                    <p>team-list</p>
                </div>
                <div class="panel team-info">
                    <p>team-into</p>
                </div>
                <div class="panel team-players">
                    <p>team-players</p>
                </div>
                <div class="panel team-details">
                    <p>team-details</p>
                </div>
                <div class="panel team-settings">
                    <p>team-settings</p>
                </div>
            </div>
        </div>
    </main>

    <aside>
        <%- include('./partials/sidebar') %>
    </aside>

    <%- include('./partials/foot') %>
