@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Epilogue:ital,wght@0,400;0,600;1,400;1,600&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* Spacing */
    --innerSpacing: .5rem;
    --outerSpacing: 1rem;

    /* Colors */
    --c-white: #FEFEFE;
    --c-lightGray: #F8F8F8;
    --c-mediumGray: #eaeaea;
    --c-darkGray: #afb0af;
    --c-red: #D16950;
    --c-blue: #6f82ed;
    --c-green: #8ADC6D;
    --c-yellow: #F0C737;
    --c-dark: #252525;

    /* Fonts */
    --primaryFont: 'Outfit', sans-serif;
    --secondairFont: 'Chakra Petch', sans-serif;
}

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: var(--primaryFont);
    background-color: var(--c-white);
}

aside {
    width: 10%;
    float: left;
    height: 100%;
    background-color: var(--c-white);
}

main {
    width: 90%;
    float: left;
    height: 100%;
}

/* Styling sidebar */
.inner-sidebar {
    padding: 3rem var(--innerSpacing);
}

/* typography */
p {
    margin: 0;
}

.live-text p {
    color: var(--c-red);
    font-family: var(--secondairFont);
    text-transform: uppercase;
}

/* Layout and grid styling */
.background-container {
    background-color: var(--c-white);
    height: 100%;
    padding: var(--outerSpacing);
}

.main-grid {
    display: grid;
    grid-template-columns: 1.1fr 1.1fr .8fr;
    grid-template-rows: 0.3fr 1.2fr 2fr 1fr;
    grid-auto-flow: row;
    height: 100%;
    border-radius: var(--outerSpacing);
    padding: var(--outerSpacing);
    gap: var(--outerSpacing);
    background-color: var(--c-lightGray);
    grid-template-areas:
        "title-bar title-bar score-list"
        "game-score game-score score-list"
        "player-list-1 player-list-2 score-list"
        "player-list-1 player-list-2 score-list";
}

.panel {
    border-radius: .5rem;
    padding: var(--outerSpacing);
    background-color: var(--c-white);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.title-bar {
    grid-area: title-bar;
}

.game-score {
    grid-area: game-score;
}

.player-list-1 {
    grid-area: player-list-1;
    position: relative;
}

.player-list-2 {
    grid-area: player-list-2;
    position: relative;

}

.score-list {
    grid-area: score-list;
}

.team-icon-1 {
    grid-area: team-icon-1;
}

.team-icon-2 {
    grid-area: team-icon-2;
}

/* Styling title bar (<%- include('./partials/titleBar') %>) */
.flex-container-horizontal {
    display: flex;
    gap: var(--outerSpacing);
    width: 100%;
    overflow: hidden;
}

.title-block {
    width: 90%;
    border-radius: .5rem;
    background-color: var(--c-white);
}

.title-block li {
    font-family: var(--secondairFont);
    color: var(--c-dark);
    letter-spacing: .20rem;
    font-size: 1rem;
    list-style-position: inherit;
    font-weight: 600;
    text-transform: uppercase;
}

/* Marquee */
.marquee-container {
    width: 100%;
}

.marquee {
    width: 100%;
    display: flex;
    animation: marquee 30s linear infinite;
}

.marquee-content {
    flex-shrink: 0;
    display: flex;
    min-width: 100%;
    gap: 1.6rem;
}

.marquee-content2 {
    flex-shrink: 0;
    display: flex;
    min-width: 100%;
    gap: 1.6rem;
    animation-delay: 15s;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/* Styling live (<%- include('./partials/titleBar') %>) */
.live-block {
    width: 10%;
    text-align: center;
}

.live-flex-container {
    display: flex;
    width: 100%;
}

.live-dot {
    width: 30%;
    margin-top: 7px;
    padding-left: 10%;
}

.live-text {
    width: 70%;
}

.blob {
    background: black;
    border-radius: 50%;
    height: var(--innerSpacing);
    width: var(--innerSpacing);
    transform: scale(1);
    animation: pulse-black 2s infinite;
}

.blob.red {
    background: rgba(255, 82, 82, 1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 var(--c-red);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 5px rgba(255, 82, 82, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

/* Styling team icons (<%- include('./partials/teamIcon1') %>) */
.image-container img {
    width: 7.5rem;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}


/* Styling game score (<%- include('./partials/scoreLise') %>) */
.flex-container-vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--outerSpacing);
    height: 100%;
    gap: var(--outerSpacing);
}

.score-list-block {
    height: 80%;
    width: 100%;
}

.quote-block {
    height: 20%;
    width: 100%;
}


/* Player list styling */

.team-name {
    color: var(--c-blue);
    font-family: var(--secondairFont);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 2% 0;
}

.goal-indicators {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 7px;
    top: 1.5rem;
    font-family: var(--secondairFont);
    text-transform: uppercase;
    font-size: 8px;
    gap: 8.5px;
}

.player-line {
    width: 100%;
    cursor: pointer;
}

.player-line:hover {
    background-color: var(--c-lightGray);
}

.player-info {
    display: flex;
    flex-direction: row;
    line-height: 200%;
    font-size: .9rem;
    letter-spacing: 1px;
    margin: 0% 0%;
}

.jersey-number {
    color: var(--c-blue);
    font-family: var(--secondairFont);
    margin-right: 10px;
    padding-left: 5px;
}

.score-indicators {
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: row;
}

.score-indicator {
    height: 20px;
    width: 20px;
    border-radius: 3px;
    margin: 2.5% 10px;
    background-color: var(--c-mediumGray);
}

.line {
    border-bottom: 1px solid var(--c-mediumGray);
}


/* Score table styling */
table {
    font-family: var(--secondairFont);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: .8rem;
    width: 100%;
}

th {
    color: var(--c-darkGray);
    font-weight: 400;
    padding-bottom: var(--outerSpacing);
    font-size: .6rem;
}

thead {
    height: var(--outerSpacing);
}

.extra-margin-table {
    padding-bottom: 1.8rem;
}

.score-list-container {
    width: 100%;
    display: flex;
}

.points-team-1,
.points-team-2 {
    width: 35%;
}

.points-team-1 table {
    text-align: left;
}

.points-team-2 table {
    text-align: right;
}

.score-points {
    width: 30%;
}

td {
    padding-bottom: var(--innerSpacing);
}

td span {
    padding: .1rem .4rem;
    border-radius: .3rem;
    font-size: .8rem;
    text-transform: lowercase;
}

.dark-green {
    background-color: var(--c-green);
    border: 1px solid var(--c-green);
    color: var(--c-white);
}

.green {
    background-color: var(--c-white);
    border: 1px solid var(--c-green);
    color: var(--c-dark);
}

.dark-red {
    background-color: var(--c-red);
    border: 1px solid var(--c-red);
    color: var(--c-white);
}

.red {
    background-color: var(--c-white);
    border: 1px solid var(--c-red);
    color: var(--c-dark);
}

/* Quote styling */
.quote span {
    font-size: 1rem;
}